<!DOCTYPE html>
<html>
<head>
    <title>Four Line Graphs</title>
    <style>
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            gap: 10px;
            padding: 10px;
            height: 60vh;
            width: 100vh;
        }
        #id-card {
            margin-top: 180px;
            padding: 10px;
            border: 1px solid #ccc;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <canvas id="graph1"></canvas>
        <canvas id="graph2"></canvas>
        <canvas id="graph3"></canvas>
        <canvas id="graph4"></canvas>
        <canvas id="graph5"></canvas>
        <canvas id="graph6"></canvas>
    </div>
    <div id="id-card">
        <h3>Patient Detail</h3>
        <p>Name: John Doe</p>
        <p>Sex: Male</p>
        <p>Blood group: B-ve</p>
    </div>

    <script>
        
        var csvString = "";
        var JSONcsv = {};
        var ctx1 = document.getElementById('graph1').getContext('2d');
        var ctx2 = document.getElementById('graph2').getContext('2d');
        var ctx3 = document.getElementById('graph3').getContext('2d');
        var ctx4 = document.getElementById('graph4').getContext('2d');
        var ctx5 = document.getElementById('graph5').getContext('2d');
        var ctx6 = document.getElementById('graph6').getContext('2d');

        function fetchData() {
            const apiUrl = 'http://localhost:5000/data';

            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                // Handle the fetched data
                JSONcsv = data;
                console.log('Fetched data:', data);
                })
                .catch(error => {
                console.error('Error fetching data:', error);
                });
            }

        document.addEventListener('DOMContentLoaded', function() {

            fetchData();

            setInterval(fetchData, 1000);
        });

        
        const datapoints = [1];
        var graph1 = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: [1],
                datasets: [{
                    label: 'Heart Beat',
                    data: [1],
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    y: {
                        suggestedMin: -5,
                        suggestedMax: 5,
                    }
                }
            }
        });

        var graph2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: [1],
                datasets: [{
                    label: 'SPO2',
                    data: [95],
                    borderColor: 'rgba(153, 102, 255, 1)',
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    y: {
                        suggestedMin: 60,
                        suggestedMax: 140,
                    }
                }
            }
        });

        var graph3 = new Chart(ctx3, {
            type: 'line',
            data: {
                labels: [1],
                datasets: [{
                    label: 'Systolic',
                    data: [112],
                    borderColor: 'rgba(255, 255, 64, 1)',
                    backgroundColor: 'rgba(255, 159, 64, 0.2)',
                    tension: 0.4
                },
                {
                    label: 'Diastolic',
                    data: [80],
                    borderColor: 'rgba(255, 159, 64, 1)',
                    backgroundColor: 'rgba(255, 159, 64, 0.2)',
                    tension: 0.4
                },
                ]
            }, 
            options: {
                scales: {
                    y: {
                        suggestedMin: 40,
                        suggestedMax: 180,
                    }
                }
            }
        });

        var graph4 = new Chart(ctx4, {
            type: 'line',
            data: {
                labels: [0],
                datasets: [{
                    label: 'Body Temp.',
                    data: [100],
                    borderColor: 'rgba(255, 99, 132, 1)',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    y: {
                        suggestedMin: 60,
                        suggestedMax: 140,
                    }
                }
            }
        });

        var graph5 = new Chart(ctx5, {
            type: 'line',
            data: {
                labels: [0],
                datasets: [{
                    label: 'Respiratory',
                    data: [100],
                    borderColor: 'rgba(255, 99, 132, 1)',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    y: {
                        suggestedMin: 60,
                        suggestedMax: 140,
                    }
                }
            }
        });

        var graph6 = new Chart(ctx6, {
            type: 'line',
            data: {
                labels: [0],
                datasets: [{
                    label: 'Sugar Level',
                    data: [100],
                    borderColor: 'rgba(255, 99, 132, 1)',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    tension: 0.4
                }]
            },
            options: {
                scales: {
                    y: {
                        suggestedMin: 60,
                        suggestedMax: 140,
                    }
                }
            }
        });

        function addData(chart, label, newData) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(newData);
            });
            chart.update();
        }

        function addDataBP(chart, label, newData1, newData2) {
            chart.data.labels.push(label);
            chart.data.datasets[0].data.push(newData1);
            chart.data.datasets[1].data.push(newData2);
            chart.update();
        }

        function removeData(chart) {
            chart.data.labels.shift();
            chart.data.datasets.forEach((dataset) => {
                dataset.data.shift();
            });
            chart.update();
        }
        var i = 0;
        setInterval(()=>{

            addData(graph1, JSONcsv["Time"], JSONcsv["Heart Beat"]);
            addData(graph2, JSONcsv["Time"], JSONcsv["SPO2"]);
            addDataBP(graph3, JSONcsv["Time"], JSONcsv["Systolic"], JSONcsv["Diastolic"]);
            addData(graph4, JSONcsv["Time"], JSONcsv["Body Temp."]);
            addData(graph4, JSONcsv["Time"], JSONcsv["Respiratory"]);
            addData(graph4, JSONcsv["Time"], JSONcsv["Sugar Level"]);
            i+=1;
            if(i>30){
                removeData(graph1, JSONcsv["Time"], JSONcsv["Heart Beat"]);
                removeData(graph2, JSONcsv["Time"], JSONcsv["SPO2"]);
                removeData(graph3, JSONcsv["Time"], JSONcsv["Systolic"]);
                removeData(graph4, JSONcsv["Time"], JSONcsv["Body Temp."]);
                removeData(graph3, JSONcsv["Time"]);
                removeData(graph4, JSONcsv["Time"]);
            }
        }, 1000);
    </script>
</body>
</html>